@model StockViewModel

@inject CodeZoneInventorySystem.Services.IStoreRepository storeRepository
@inject CodeZoneInventorySystem.Services.IITemRepository itemRepository

@{
    ViewBag.Title = "Increase Stock";
   
    var allStores = new SelectList(storeRepository.GetAllStores(),"Id", "Name");
    // var allItems = new SelectList(itemRepository.GetAllItems().Select(item => item.Id).ToList(),);
}



<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label asp-for="SelectedStore" class="form-label">SelectedStore</label>
                    <div class="col-sm-10">
                        <select id="selectedStore" asp-for="SelectedStore" class="custom-select mr-sm-2"
                                asp-items="allStores">
                            <option value="" selected disabled>Choose Store</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label asp-for="SelectedItem" class="form-label">SelectedItem</label>
                    <div class="col-sm-10">
                        <select id="selectedItem" asp-for="SelectedItem" class="custom-select mr-sm-2">
                                
                        </select>
                    </div>
                </div>

                <br/>
                <br />
                <br />
                <br />

                <div class="col-sm-6">
                    <label asp-for="Quantity" class="form-label">Quantity</label>
                    <input asp-for="Quantity" class="form-control" id="quantity">
                </div>
                

                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <a href="javascript:void(0)" class="btn btn-primary" id="btn-increase-stock">Increase Stock</a>
        </form>

        <br />
        <br />
        <br />
        <br />

        <div class="col-sm-6">
            <span id="currentQuantity"></span>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btn-increase-stock").on("click", function () {
                var formData = new FormData();
                formData.append("selectedStore", $("#selectedStore").val());
                formData.append("selectedItem", $("#selectedItem").val());
                formData.append("quantity", $("#quantity").val());

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("IncreaseStock", "Stock")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: function (response) {
                        if (response.responseCode == 0) {
                            resetForm();
                            $("#currentQuantity").text(response.responseMessage);
                            
                        } else {
                            alert(response.responseMessage);
                        }
                    },
                    error: function () {
                        alert("Something went wrong, please contact the admin.");
                    }
                });
            });

            function resetForm() {
                $("#quantity").val("");
            }

            $("#selectedStore").change(function () {
                var storeId = $(this).val();
                var itemDropdown = $("#selectedItem");

                itemDropdown.empty().append("<option>Choose item</option>");

                $.ajax({
                    type: "POST",
                    url: "/Stock/GetItemDataByStoreId",
                    data: { storeId: storeId },
                    success: function (res) {
                        $.each(res, function (i, item) {
                            itemDropdown.append("<option value='" + item.id + "'>" + item.name + "</option>");
                        });
                    },
                    error: function () {
                        bootbox.alert("Failed to fetch item data.");
                    }
                });
            });

            $("#selectedItem").change(function () {
                var itemId = $(this).val();
                var storeId = $("#selectedStore").val();
              

                $.ajax({
                    type: "POST",
                    url: "/Stock/GetCurrentQuantity",
                    data: { storeId: storeId ,itemId:itemId},
                    success: function (res) {
                        $("#currentQuantity").text(res);
                    },
                    error: function () {
                        bootbox.alert("Failed to fetch item data.");
                    }
                });
            });
        });
    </script>
}


